/*
!Chapters 5 and 6 - Concrete Syntax Example and Intermediate Models/

!/Chapter 8 - Greenfield Validation Package/
/Chapter 8 - Greenfield Validation Package/ParkingAreaCreatedEvent.avsc
/Chapter 8 - Greenfield Validation Package/**/*-diss.sh
Chapter 8 - Greenfield Validation Package/intermediate/

!Chapter 9 - Brownfield Validation Package/
/Chapter 9 - Brownfield Validation Package/Reconstruction LEMMA Models/Notes.odt
/Chapter 9 - Brownfield Validation Package/**/*-diss.sh
/Chapter 9 - Brownfield Validation Package/Metrics/
/Chapter 9 - Brownfield Validation Package/Notes.odt
Chapter 9 - Brownfield Validation Package/intermediate/

!.gitignore

.metadata/
bin/
.launch/
Trash/
target/
.gradle/
*.java._trace
*.xtendbin
*.xtextbin
out/
build/
.idea/
.~lock*
*.iml
*.hprof
